* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}


.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}
#header-flex {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

#header-primary {
   /*  margin-top: 15px; */
}

/** 
 * Primary nav
 */
#nav-primary {
    height: 75px;
}
ul#menu-primary {
    background: orange;
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;;
}
    ul#menu-primary a {
        display: flex;
        align-items: center;
    }
        ul#menu-primary li {
            margin-left: 20px;
        }
        ul#menu-primary .sub-menu {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }

    /** 
    * Desktop only
    */
    @media (hover: hover) {
        #header-primary {
            margin-top: 0;
        }
        ul#menu-primary {
            
        }
            ul#menu-primary li {
                margin-left: 20px;
                position: relative;
                height: 100%
            }
            
                ul#menu-primary > li > a {
                    border: 2px dashed #fff;
                    height: 100%;
                }
                    ul#menu-primary ul.sub-menu {
                        border: 2px solid green;
                        list-style: none;
                        position: absolute;
                    }
                        ul#menu-primary ul.sub-menu li {
                            margin: 0;
                        }
                            ul#menu-primary ul.sub-menu a {
                                background-color: red;
                            }

    }


    @media only screen and (max-width: 900px) {

        #header-flex {
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
        }
        #nav-primary {
            width: 100%;
            position: absolute;
        }
            ul#menu-primary {
                background-color: red;
                flex-direction: column;
                align-items: flex-start;
            }
                ul#menu-primary li {
                    margin: 0;
                }

    }