* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

#header-primary,
#header-primary > div,
#header-primary > div > div,
#header-primary h1 {
    height: 100%;
}

#header-primary {
   height: 50px;
}

#header-flex {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
    #logo {
        align-content: center;
    }
    #nav-primary {
        height: 100%;
    }

/** 
 * Primary nav
 */
#nav-primary {
    height: 100%;
}

ul#menu-primary {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}
    ul#menu-primary a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #666; /* #de466c; */
        position: relative;
    }
        ul#menu-primary li {
            position: relative;
            border-radius: 7px;
        }
        ul#menu-primary li.has-children {
            border-radius: 7px 7px 0 0;
        }
        ul#menu-primary li.has-children a {
            padding-right: 40px;
        }
        ul#menu-primary > li.has-children > a::after {
            display: block;
            content: "";
            /* width: 55px;
            height: calc(100% - 1px); */
            width: 15px;
            height: 15px;
            position: absolute;
            right: 15px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNi4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTIzMy40IDQwNi42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE5Mi0xOTJjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjU2IDMzOC43IDg2LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE5MiAxOTJ6Ii8+PC9zdmc+');
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(100%);
            /* filter: invert(28%) sepia(82%) saturate(2220%) hue-rotate(316deg) brightness(95%) contrast(92%); */
            transition: all 0.1s ease;
        }
        ul#menu-primary > li.has-children.is-active > a::after {
            transform: rotate(180deg);
        }

        ul#menu-primary .sub-menu {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            width: 240px;
            border-radius: 0 0 7px 7px;
        }

    /** 
    * Desktop only
    */
    @media (hover: hover) {
        #header-primary {
            margin-top: 50px;
        }
            ul#menu-primary li {
                margin-left: 20px;
                height: 100%;
            }
            ul#menu-primary > li.has-children > a::after {
                /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); */
            }
                ul#menu-primary > li > a {
                    height: 100%;
                    padding: 15px;
                }
                    ul#menu-primary ul.sub-menu {
                        list-style: none;
                        position: absolute;
                        border-top-right-radius: 7px;
                    }
                        ul#menu-primary ul.sub-menu li {
                            margin: 0;
                        }
                            ul#menu-primary ul.sub-menu a {
                                padding: 15px;
                                color: #fff;
                                font-size: 16px;
                            }
                            ul#menu-primary li:hover {
                                background: #de466c;
                            }
                                ul#menu-primary li:hover a {
                                    color: #fff;
                                }
                            ul#menu-primary li:hover ul.sub-menu {
                                visibility: visible;
                                opacity: 1;
                                background: #de466c;
                            }

    }

    @media (hover: none) {

        ul#menu-primary .sub-menu {
            width: 100%;
        }

        ul#menu-primary > li.has-children a::after {
            /* content: "";
            width: 55px;
            height: calc(100% - 1px);
            background-color: #efefef;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            position: absolute;
            right: 0;
            z-index: 1; */
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(100%);


        }

    }

    @media only screen and (max-width: 900px) {

        #header-flex {
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
        }
        #nav-primary {
            width: calc(100% - 30px);
            position: absolute;
            top: 75px;
            height: auto;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
            ul#menu-primary {
                flex-direction: column;
                align-items: flex-start;
            }
                ul#menu-primary li {
                    margin: 0;
                    width: 100%;
                }
                    ul#menu-primary a {
                        border-bottom: 1px solid #ccc;
                        width: 100%;
                        padding: 15px;
                    }

    }